<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% block stylesheet %}

			{% include "./stylesheet.twig" %}

		{% endblock %}
		<title>Start Page</title>


	</head>

	<div class="animate__animated d-none" id="prout">
	<h1>Bonjour</h1>
		<div id="test2">
			<ul id="test3">
				<a href=""><img src="/images/icon_List.png" alt="">Listes</a><br>
				<a href=""><img src="/images/icon_Trash.png" alt="">Corbeille</a><br>
				<a href=""><img src="/images/icon_Setting.png" alt="">Paramètres</a><br>
				<a href=""><img src="/images/icon_Help.png" alt="">Aide	&#x26; Contact</a>
			</ul>
		</div>
	</div>
	<body>
		{% block header %}

			{% include "./header.twig" %}

		{% endblock %}

		<main>

			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
			<script src="/js/main.js"></script>
		</main>
	</body>
</html>
