/******** Section paramètre  ********/

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 210px;

}

article {
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 390px;
    color: white;
    padding-left: 10px;
    background-color: rgba(0, 0, 0, 0.30);

}

article h2 {
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    margin-right: 10px
}

.line {
    margin-top: 15px;
    border-top: 1px solid rgba(0, 0, 0, 0.466);
    color: black;
    width: 390px;
}

/******** toggle article  ********/

.toggle {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}


.toggle-switch {
    display: inline-block;
    background: #ccc;
    border-radius: 16px;
    width: 58px;
    height: 32px;
    position: relative;
    vertical-align: middle;
    transition: 0.25s;
    margin-right: 20px;
    margin-top: 10px;
}

.toggle-switch:before,
.toggle-switch:after {
    content: "";
}

.toggle-switch:before {
    display: block;
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
    width: 24px;
    height: 24px;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: left 0.25s;
}

.toggle:hover .toggle-switch:before {
    background: linear-gradient(to bottom, #fff 0%, #fff 100%);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}

.toggle-checkbox:checked+.toggle-switch {
    background: #56c080;
    margin-top: 10px;
}

.toggle-checkbox:checked+.toggle-switch:before {
    left: 30px;
}

.toggle-checkbox {
    position: absolute;
    visibility: hidden;
}

.toggle-label {
    position: relative;
    top: 2px;
    font-size: 28px;
    font-weight: 600;
}

.div-center {
    display: flex;
    justify-content: space-between;
}

.div-center img {
    height: 42px;
    margin-right: 10px;
}

/******** Responsive Section/Article  ********/

@media screen and (max-width: 1095px) {

    article {
        width: 391px;
    }

    .line {
        width: 391px;
    }

}

@media screen and (max-width: 407px) {

    article {
        width: 300px;
    }

    .line {
        width: 300px;
    }

}

@media screen and (max-width: 300px) {

    article {
        width: 260px;
    }

    .line {
        width: 260px;
    }

}