body {
    background-color: #1E877F !important;
}

h1 {
    color: white;
    margin: 40px !important;
}

p {
    color: white;
}

/******** NAVBAR ********/

.navbar {
    background-color: #1E877F;
    border-bottom: 1px black solid;
    margin: 30px;
    margin-top: 0;
}

#Logotitle {
    width: 237px;
}

/******** Navbar/Menu ********/

#menu {
    display: flex;
    justify-content: center;
    width: 90%;
}

#nav {
    width: 10%;
    display: flex;
}

.custom-toggler.navbar-toggler {
    border-color: rgb(1, 1, 1);
    opacity: 100%;
}

.bg-dark {
    display: block;
    justify-content: flex-start;
    width: 20%;
}

.testnav {
    display: none;
}

#prout {
    z-index: 1;
    position: absolute;
    border: 1px solid black;
    width: 300px;
    font-size: 20px;
    background-color: #28C3B7;
    font-weight: 600;
    height: 100%;
}

#test3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

#prout a {
    text-decoration: none;
    color: rgb(2, 2, 2);
    
}

/******** Boutton Nouvelle liste ********/

.center-button {
    display: flex;
    justify-content: center;
    justify-items: end;
}

.style-button {
    border: 1px solid black;
    border-radius: 100px;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

#more {
    font-size: 60px;
    color: black;
    margin-right: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

#new-list {
    color: black;
    font-size: 40px;
    font-weight: 700;
    margin: 0;
}

/******** Responsive boutton NOUVELLE LISTE ********/

@media screen and (max-width: 1635px) {

    .style-button {
        width: 318px;
    }

    #more {
        font-size: 30px;
        margin-right: 10px;
        font-weight: 700;
        margin-bottom: 0;
    }

    #new-list {
        font-size: 30px;
        font-weight: 700;
    }

}

/******** Responsive titre appli ********/

@media screen and (max-width: 400px) {
    #Logotitle {
        width: 150px;
    }

}

@media screen and (max-width: 300px) {
    #Logotitle {
        width: 90px;
    }

}