{% extends "../base.twig" %}

{% block stylesheet %}
	<link rel="stylesheet" href="/css/addProduct.css">
{% endblock %}

{% block title %}
	<title>Add Product Page</title>
{% endblock %}

{% block main %}
	<main>
		<div class="test4">
			<div class="searchBox">
			<img src="/images/iconSearch.png" alt="">
				<input id="searchbar" onkeyup="search_product()" type="text" name="search" placeholder="Rechercher/ajouter un article">
			</div>
		</div>
	</main>
{% endblock %}

<script src="/js/main.js"></script>
