{% extends "../base.twig" %}

{% block stylesheet %}
	<link rel="stylesheet" href="/css/addProduct.css">
{% endblock %}

{% block title %}
	<title>Add Product Page</title>
{% endblock %}

{% block main %}
	<main>
		<div class="test4">
			<form action="/addProduct/{{list.id}}" method="post" class="searchBox">
				<img src="/images/iconSearch.png" alt="">
				<input id="searchbar" onkeyup="search_product()" type="text" name="productName" placeholder="Rechercher/ajouter un article">
			</form>
		</div>

		{% for product in products %}
			{{product.productName}}
		{% endfor %}
	</main>
{% endblock %}


<script src="/js/main.js"></script>
