{% extends "../base.twig" %}

{% block stylesheet %}
	<link rel="stylesheet" href="/css/help.css">
{% endblock %}

{% block title %}
	<title>Start Page</title>
{% endblock %}
{% block main %}
	<main>
       <div id="form-register">

        <div id="register" class="container p-lg-5 p-3 text-center">
            <h2>Formulaire de contact</h2>
            <form method="post" action="/">
                <input type="text" id="yourname" name="yourname" placeholder="Votre Nom">

                <input type="text" id="subject" name="subject" placeholder="Votre Adresse">

                <input id="tel" type="tel" name="tel" placeholder="Votre Numero">

                <input id="email" type="email" name="email" placeholder="Votre email">

                <textarea id="message" name="message" placeholder="Votre message" style="height:200px"></textarea>

                <input type="submit" value="Envoyer">
            </form>
        </div>
    </div>
    </main>
{% endblock %}