{% extends "../base.twig" %}

{% block stylesheet %}
	<link rel="stylesheet" href="/css/listPage.css">
{% endblock %}

{% block title %}
	<title>List Page</title>
{% endblock %}

{% block nav %}
	{% include "../layout/nav.twig" %}
	<form action="/addProduct/{{list.id}}" method="get">
		<button id="addButton" type="submit">
			<img src="../images/iconAddToShoppingCart.png" alt="">
		</button>
	</form>
{% endblock %}

{% block main %}

	<h2 id="listName">{{ list.ListName }}</h2>

	<div id="aaa">
		<div id="center-product">
			{% for product in products %}
				<div class="container-drop">
					<div id="styleProduct">
						<div class="center-img">
							<img src="../images/icon-tomate.png" alt="modif">
						</div>
						{{product.productName}}
						<div class="center-img ">
							<img src="../images/icon-modif.png" alt="modif" onclick="settingProductDown()" id='arrow'>
						</div>

					</div>

					<div class="drop animate__animated d-none" id="drop">
						<div class="center-img ">
							<img src="../images/icon-modif.png" alt="modif">
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}


{% block script %}
	<script src="/js/animateProduct.js"></script>
	<script src="/js/main.js"></script>
{% endblock %}
