{% extends "../base.twig" %}

{% block stylesheet %}
	<link rel="stylesheet" href="/css/listPage.css">
{% endblock %}

{% block title %}
	<title>List Page</title>
{% endblock %}

{% block nav %}
{% include "../layout/nav.twig" %}
<form action="/addProduct/{{idlist}}" method="get">
<button id="addButton" type="submit">
<img src="../images/iconAddToShoppingCart.png" alt="">
</button>
</form>
{% endblock %}

{% block main %}

{% endblock %}