{% extends "../base.twig" %}
{% block stylesheet %}
	<link rel="stylesheet" href="/css/main.css">

{% endblock %}
{% block title %}
	<title>Start Page</title>
{% endblock %}

{% block main %}
	<main>
		<div id="lists">
			{% for list in List %}
				<div>
					<a href="/listPage/{{list.id}}">
						<button class="list" type="submit">
							<h3>{{ list.ListName }}</h3>
							<img src="{{ list.ListPicture }}" alt="">
						</button>
					</a>

				</div>
			{% endfor %}

		</div>


		<form action="/addListPage" method="get" class="center-button">
			<button class="style-button" type="submit">
				<p id="more">+</p>
				<p id="new-list">Nouvelle liste</p>
			</button>
		</form>


	</main>
{% endblock %}


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
<script src="/js/main.js"></script>
