{% extends "../base.twig" %}
{% block stylesheet %}
	<link rel="stylesheet" href="/css/registerPage.css">

{% endblock %}
{% block title %}
	<title>Register Page</title>
{% endblock %}
{% block main %}
	<main>
		<section id="section-register">
			<article id="article-register">
				<img src="images/icon-Conexion.png" alt="">
				<p>Inscrivez vous !!!!</p>
			</article>
			<article id="bouttons-register">
				<div id="bouttonFace">
					<img src="images/icon-face.png" alt="facebook">
					<p>Continuer avec Facebook</p>
				</div>
				<div id="bouttonGoogle">
					<img src="images/icon-google.png" alt="google">
					<p>Continuer avec google</p>
				</div>
				<div id="bouttonMail">
					<img src="images/icon-mail.png" alt="mail">
					<p>S'inscrire par mail</p>
				</div>
			</article>
            <p>Vous avez dejà un compte? Connectez vous</p>
		</section>
	</main>
{% endblock %}
