{% extends "../base.twig" %}

{% block stylesheet %}
	<link rel="stylesheet" href="/css/trash.css">
{% endblock %}

{% block title %}
	<title>Start Page</title>
{% endblock %}

{% block header %}
	{% include "../layout/header.twig" %}
{% endblock %}

{% block main %}
<main>
   <section>
   <img src="images/img-trash.png" alt="trash">
   <p id="big-p">La corbeille est vide</p>
   <p id="small-p">retrouvez ici vos liste supprimer</p>
   </section>
</main>
{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
<script src="/js/main.js"></script>