	<div class="animate__animated d-none" id="prout">
		<h1>Bonjour</h1>
		<div id="test2">
			<ul id="test3">
				<a href="/"><img src="/images/icon_List.png" alt="">Listes</a><br>
				<a href="/trash"><img src="/images/icon_Trash.png" alt="">Corbeille</a><br>
				<a href="/settingPage"><img src="/images/icon_Setting.png" alt="">Paramètres</a><br>
				<a href="/help"><img src="/images/icon_Help.png" alt="">Aide	&#x26; Contact</a>
			</ul>
		</div>
	</div>